{{>header}}
<h3>Forecast</h3>
<p>Get forecast by location[Default location is "india"]</p>
<form id="forecast">
<input type="text" value="" placeholder="Enter Location">
<div class="hide loader"><button>Search</button><img src="/img/loading-icegif-1.gif"></div>
<p id="message"></p>
</form>
{{>footer}}